<div class="asideLayout">
  <div class="asideTop">
    後台系統
  </div>
  <div class="asideMiddle">
    <div>
      <button  mat-raised-button routerLink="./homeManage"  class="btnItem">
        <label>首頁管理</label>
      </button>
    </div>
    <div>
      <button mat-raised-button routerLink="./menuManage"  class="btnItem">
        <label>頁面管理</label>
      </button>
    </div>
    <div>
      <button mat-raised-button routerLink="./systemManage"  class="btnItem">
        <label>系統設定</label>
      </button>
    </div>
  </div>
  <div>
    選單版本號
  </div>
</div>
