<div class="dialog-header">
  <div>編輯圖片</div>
  <div>
    <button mat-icon-button (click)="dialogRef.close(null)">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<mat-dialog-content>
  <div class="input-group">
    <div>
      <label class="required">圖片名稱</label>
    </div>
    <mat-form-field appearance="outline">
      <input matInput [(ngModel)]="tempImageName" required />
      <mat-error *ngIf="!tempImageName">圖片名稱為必填</mat-error>
    </mat-form-field>
  </div>
  <div class="input-group">
    <div>
      <label class="required">ALT</label>
    </div>
    <mat-form-field appearance="outline">
      <input matInput [(ngModel)]="tempAlt" required />
      <mat-error *ngIf="!tempAlt">ALT為必填</mat-error>
    </mat-form-field>
  </div>
  <div class="image-preview" *ngIf="imageBase64">
    <p-image [src]="'data:image/png;base64,' + imageBase64" [preview]="true" [alt]="tempAlt" width="250">
    </p-image>
  </div>
  <input type="file" (change)="onFileChange($event)" accept="image/*">
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-flat-button color="accent" (click)="dialogRef.close(null)">取消</button>
  <button mat-flat-button color="primary" (click)="save()" cdkFocusInitial>儲存</button>
</mat-dialog-actions>
