<div class="dialog-header">
  <div>編輯圖片</div>
  <div>
    <button mat-icon-button (click)="dialogRef.close(null)">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<mat-dialog-content>
  <div class="input-group">
    <div>
      <label class="required">圖片名稱</label>
    </div>
    <mat-form-field appearance="outline">
      <input matInput [(ngModel)]="tempImageName" required />
      <mat-error *ngIf="!tempImageName">圖片名稱為必填</mat-error>
    </mat-form-field>
  </div>
  <div class="input-group">
    <div>
      <label class="required">ALT</label>
    </div>
    <mat-form-field appearance="outline">
      <input matInput [(ngModel)]="tempAlt" required />
      <mat-error *ngIf="!tempAlt">ALT為必填</mat-error>
    </mat-form-field>
  </div>

  <!-- 圖片預覽與操作 -->
  <div class="image-preview" *ngIf="uploadedFileName">
    <img [src]="getImageUrl(uploadedFileName)" [alt]="tempAlt" width="250" />
    <button mat-icon-button color="warn" (click)="deleteImage()" title="刪除圖片">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <div>{{ getImageUrl(uploadedFileName) }}</div>
  <!-- 上傳圖片 -->
  <input type="file" (change)="onFileChange($event)" accept="image/*" />

</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-flat-button color="accent" (click)="dialogRef.close(null)">取消</button>
  <button mat-flat-button color="primary" (click)="save()" cdkFocusInitial [disabled]="!uploadedFileName || !tempImageName || !tempAlt">儲存</button>
</mat-dialog-actions>