// 色彩和變數
$primary-color: #007bff;
$background-color: #efefef;
$side-nav-width: 250px;

@mixin nb {
  @media(max-width: 1366px) {
    @content;
  }
}

@mixin pad {
  @media(max-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media(max-width: 430px) {
    @content;
  }
}

// 主體樣式
.sidenav {
  color: #efefef;
  box-shadow: 0px 3px 5px -1px rgba(158, 158, 158, 0.2), 0px 5px 8px 0px rgba(158, 158, 158, 0.14), 0px 1px 14px 0px rgba(158, 158, 158, 0.12);
  width: 240px;
  background-color: #262626;
  position: fixed;
  top: 0px;
  padding: 15px;

  @include pad {
    width: 200px;
  }

  @include mobile {
    width: 0; // 手機模式下隱藏側欄
  }
}

.layout {
  display: flex;
  flex-direction: column;
  z-index: -1;
  height: 100vh;
}

.top {
  position: sticky;
  background-color: $background-color;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 100;
  top: 0px;
  margin: 0px;
}

.top_layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  flex-grow: 1;
  padding: 20px;
}

.content_layout {
  display: flex;
  height: 100%;
}

.sideOpen {
  padding-left: 240px;

  @include pad {
    margin-left: 200px;
  }

  @include mobile {
    margin-left: 0; // 手機模式下隱藏側欄
  }
}
